PORT=
DB_URL=
SALT_ROUNDS=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRY=
JWT_REFRESH_EXPIRY=
TAP_SECRET_KEY=
TAP_API_BASE_URL=https://api.tap.company/v2
TAP_REDIRECT_URL=http://localhost:5173/payment/callback
